# Don't include the JavaScript file built via Elm
public/main.js
public/tauri-elm-counter-wasm/*

# Elm stuff
elm-stuff/*
!elm-stuff/exact-dependencies.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
